html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Didact Gothic', sans-serif;
  background-color: white; /*  Dark background color */
  color:black; /* White text color for contrast */
  overflow: auto;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* navbar styling */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px 18px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.btn-grad {
  background-image: linear-gradient(to right, #085078 0%, #85D8CE 100%);
  background-size: 200% auto;
  align-items: center;
  color: white;
  border: none;
  padding:10px 20px;
  border-radius:5px;
  text-transform: uppercase;
  cursor:pointer;
  transition:background-color 0.3s, color 0.3s;
}

.btn-grad:hover {
  background-color: #fff;
  color: #000;
}


/* footer styling*/
/* Footer.css */

footer {
  background-color:  #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Adjust the z-index as needed */
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.user-profile {
  margin-right: 25px; /* Add margin to the right of the span */
}

.Accordian_background{
  background-color: #f5f7fa; 
  height: 100vh;
  margin-top: 0%;
}



/* loader.css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.lists-container {
  background: linear-gradient(to bottom, #f0fff0, #e0ffe0);
  padding: 20px; /* Adjust padding as needed */
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}